/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.cache
/public/assets
ziggy.js
/public/mix-*
.env
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
