{
   "jsxBracketSameLine": true,
   "proseWrap": "never",
   "printWidth": 240,
   "semi": false,
   "tabWidth": 3,
   "overrides": [
      {
         "files": ["*.scss"],
         "options": {
            "singleQuote": true
         }
      }
   ]
}
