@charset "UTF-8";

@import 'rebase/rebase';

@import 'elements/text';
@import 'elements/form';
@import 'elements/pills';
@import 'elements/input';
@import 'elements/colors';
@import 'elements/tables';
@import 'elements/buttons';
@import 'elements/textarea';

@import 'components/logo';
@import 'components/modal';
@import 'components/plans';
@import 'components/tooltip';
@import 'components/dropdown';
@import 'components/info-list';
@import 'components/nprogress';
@import 'components/navigation';
@import 'components/breadcrumbs';
@import 'components/flash-message';
@import 'components/dropzone';

@import 'templates/master';
@import 'templates/voting';
@import 'templates/external';

@include debug(false);

body {
    background-color: $color-gray-30;
    font-family: $font-body;
    font-weight: $weight-light;
    overflow: hidden;
}

.section {
    @include __{
        &divider {
            margin-top: $spacing-20;
            border-top: 2px solid $color-gray-40;
            padding-top: $spacing-20;
        }
    }
}
