@mixin form-element {
   background: var(--color-true-white);
   border: 1px solid var(--color-coolGray-400);
   border-radius: var(--radius-2);
   color: var(--color-coolGray-800);
   font-size: var(--px-16);
   line-height: normal;
   margin: 0;
   min-height: var(--px-40);
   padding: var(--px-8);
   position: relative;
   width: 100%;

   @content;

   &:focus {
      @include form-element-focus;
   }
}

@mixin form-element-focus {
   box-shadow: 0 1px 2px 0 var(--color-coolGray-300);
   transition: all 250ms ease-in-out;
}


@mixin form-medium {
   font-size: $form-font-size;
   min-height: var(--px-40);
   padding: var(--px-8);
}

@mixin form-xsmall {
   font-size: var(--px-10);
   min-height: 25px;
   padding: var(--px-4);
}

@mixin form-small {
   font-size: var(--px-12);
   min-height: 30px;
   padding: var(--px-4) var(--px-8);
}

@mixin form-large {
   font-size: var(--px-20);
   line-height: 50px;
   padding: var(--px-8) var(--px-20);
}

@mixin form-xlarge {
   font-size: var(--px-20);
   line-height: 50px;
   padding: var(--px-8) var(--px-20);
}
