.grid {
   align-items: end;
   column-gap: $px-16;
   display: grid;
   grid-template-columns: repeat($grid-cols, 1fr);
   row-gap: $px-16;
}

@mixin grid-maker {
   @for $count from $grid-cols through 1 {
      &-#{$count} {
         grid-column-end: span #{$count};
         grid-column-start: auto;
         overflow: hidden;
         text-overflow: ellipsis;

         @if ($count % 2 == 0 and $count < $grid-cols) {
            &--centered {
               $col-start: (($grid-cols - $count) / 2) + 1;
               grid-column-end: span #{$count};
               grid-column-start: $col-start;
            }
         }
      }
      @if ($count > 1) {
         &-at-#{$count} {
            grid-column-start: $count;
         }
      }
   }
}

.col {
   @include grid-maker;
}

@each $query, $val in $mq {
   .col {
      @include query($query) {
         @include grid-maker;
      }
   }
}
