@mixin at-size($size) {
   &\:#{$size} {
       @content;
    }
 }

@mixin for-variant($parent) {
    &\:#{$parent} {
        @content;

        @include size-lists {
            @content;
        }
    }
 }

 @mixin with-queries ($parent: &) {
     $first: true;

     @if ($first == true) {
         @content;
         $first: false;
     }

     @each $key, $value in $mq {
         $name: str-slice(#{$parent}, 2);

         @media ($value) {
             @at-root {
                 .#{$key}\:\:#{$name} { @content; }
             }
         }
     }
 }


@mixin sizes-and-variants {
    @content;

    @include size-lists { @content; }
    @include variant-lists { @content; }
}

@mixin xsmall($parent: &) {
   @include at-size('xsmall') { @content; }
}

@mixin small($parent: &) {
   @include at-size('small') { @content; }
}

@mixin large($parent: &) {
   @include at-size('large') { @content; }
}

@mixin xlarge($parent: &) {
   @include at-size('xlarge') { @content; }
}

