@import 'vue2-dropzone/dist/vue2Dropzone.min.css';

.dropzone.dz-clickable {
    border-radius: $global-border-radius;
    border: 2px solid $color-blue-60 !important;
    color: $color-gray-80;
    font-size: $size-16;
    line-height: $tracking-normal;
    min-height: $spacing-48;
    padding: $spacing-12 $spacing-8;
    transition: transition(border, background);
    width: 100%;
}
