.dropdown {
    @include __{

        &button {
            align-content: center;
            align-items: center;
            background: transparent;
            border-radius: $global-border-radius;
            border: 1px solid $color-gray-40;
            cursor: pointer;
            display: inline-flex;
            font-weight: $weight-regular;
            margin: $spacing-8 0;
            justify-content: space-between;
            text-align: center;
            text-decoration: none;
            padding: $spacing-8 $spacing-16;
            transition: transition(border, box-shadow);

            &:hover {
                border: 1px solid $color-true-white;
                box-shadow: 0px 1px 1px rgba($color-true-black, 0.6);
            }
        }

        &image {
            background-color: $color-gray-40;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-right: $spacing-12;
        }

        &icon {
            color: $color-gray-80;
            font-size: $size-14;
            margin-left: $spacing-12;
        }

        &caret {
            color: $color-true-white;
            font-size: $size-30;
            width: 100% !important;
            margin-bottom: -13px;
        }

        &container {
            display: block;
            width: 100%;
            background: $color-true-white;
            border-radius: $global-border-radius;

            ul li {
                position: relative;
                padding: $spacing-4 0;
                border-bottom: 1px solid $color-gray-40;
                padding: $spacing-16;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            a {
                color: $color-gray-70;
                font-size: $size-14;
                text-decoration: none;
                display: inline-block;
                width: 100%;
                padding: $spacing-4 0;

                &:hover {
                    color: $color-blue-50;
                }
            }
        }
    }
}
