%baseline-message {
    font-size: $size-20;
    font-weight: $weight-semi-bold;
}

%baseline-button {
    background: transparent;
    border: 0;
}


.flash-message {
    padding: $spacing-4 $spacing-16;
    position: absolute;
    width: 100%;
    z-index: 100;
    transition: all 750ms ease-in-out;

    &.alert {
        @extend %baseline-message;
        background: $color-red-50;
        color: $color-true-white;

        button {
            @extend %baseline-button;
            color: $color-true-white;
        }
    }

    &.success {
        @extend %baseline-message;
        background: $color-green-50;
        color: $color-true-white;

        button {
            @extend %baseline-button;
            color: $color-true-white;
        }
    }

    &.message {
        @extend %baseline-message;
        background: $color-blue-50;
        color: $color-true-white;

        button {
            @extend %baseline-button;
            color: $color-true-white;
        }
    }
}
