.logo {

    @include _m_ {
        &no-bg {
            background-color: transparent;
            box-shadow: none;
        }
    }

    background-color: $color-gray-90;
    box-shadow: $global-box-shadow;
    min-height: $global-header-size;
    padding: $spacing-8 0;

    @include __{
        &image {
            min-height: 50px;
        }
    }
}
