.plans {
    align-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: $line-height-none;

    .plan {
        margin: $spacing-24 $spacing-8;

        @media($sm-and-up) {
            width: 80%;
        }

        @include __{
            &headline {
                background-color: $color-purple-80;
                color: $color-true-white;
                display: flex;
                font-size: $size-20;
                font-weight: $weight-bold;
                justify-content: space-between;
                padding: $spacing-12 $spacing-20;
            }
            &pricing {
                text-align: right;
            }

            &body {
                ul {
                    list-style-type: none;
                    padding: 0;
                }

                li {
                    border-bottom: 1px solid $color-gray-40;
                    font-size: $size-20;
                    padding: $spacing-20 0;

                    &:last-of-type {
                        border: none;
                    }
                }
            }
        }
    }

}
