
.layout\: {

    &payment {
        height: calc(100vh + 1px);
        overflow: auto;
    }

    &no-auth {
        align-content: flex-start;
        align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr;
        height: calc(100% + 1px);
        position: relative;
        width: 100vw;
        overflow: hidden;
        z-index: 0;

        @media ($wd-and-up) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &left {
        overflow:hidden;
        position: relative;
        height: calc(100% + 1px);
    }

    &right {
        background: #000 url('../images/vote-bg.jpg') 50% 50% no-repeat;
        filter: blur(10px);
        opacity: 0.8;
        background-size: cover;
        grid-column: 1;
        height: 100vh;
        position: absolute;
        width: 100vw;
        z-index: -1;

        @media ($wd-and-up) {
            grid-column: 2;
            height: calc(100% + 1px);
            position: relative;
            width: auto;

            filter: blur(0);
            opacity: 1;
        }
    }
}

.wrapper {
    background-color: $color-gray-30;
    border-radius: $global-border-radius;
    padding: $spacing-32;
}
