%page-wrapper {
    -ms-overflow-style: none;
    height: calc(100vh + 1px);
    overflow-y: scroll;
    position: relative;
    padding: $spacing-16 $spacing-20;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.page {
    align-content: flex-start;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100vh + 1px);
    min-width: $global-browser-min-size;
    overflow:hidden;
    position: relative;
    width: 100vw;
    z-index: 0;

    @media ($sm-and-up) {
        grid-template-columns: 225px 1fr;
    }

    @include __{
        &stage {
            display: flex;
            flex-direction: column;
            height: calc(100vh + 1px);
            order: 2;
            overflow-y: hidden;
        }

        &container {
            margin-bottom: $spacing-64;
            margin-left: auto;
            margin-right: auto;
            max-width: $global-browser-max-size;
            padding-left: $grid-gutter / -2;
            padding-left: $grid-gutter / -2;
            width: 100%;
        }
        &header {
            background: $color-true-white;
            box-shadow: $global-box-shadow;
            min-height: $global-header-size;
            padding: $spacing-8 $spacing-20;
            z-index: 1;
        }

        &headline {
            padding: $spacing-32 0 $spacing-16 0;
        }

        &body {
            height: 100%;
            overflow: hidden;
        }

        &wrapper {
            @extend %page-wrapper;

            @include _m_{
                &no-padding {
                    @extend %page-wrapper;
                    padding: 0;
                }
            }
        }

        &sidebar {
            background: $color-gray-80;

            @media ($sm-and-up) {
                height: calc(100vh + 1px);
            }
        }
    }
}
