$form-text-color: $color-gray-80;
$form-border-radius: $radius-2;
$form-border: 1px solid $color-gray-50;
$form-font-size: $px-16;
$form-line-height: normal;
$form-height: $px-40;

@mixin form-input {
   background: $color-true-white;
   border: $form-border;
   border-radius: $form-border-radius;
   color: $form-text-color;
   font-size: $form-font-size;
   line-height: $form-line-height;
   margin: 0;
   min-height: $form-height;
   padding: $px-8;
   position: relative;
   width: 100%;

   @content;
}

@mixin form-small {
   font-size: $px-12;
   min-height: 30px;
   padding: $px-4 $px-8;
}

@mixin form-large {
   font-size: $px-20;
   line-height: 50px;
   padding: $px-8 $px-20;
}
