$form-text-color: $color-gray-80;
$form-border-radius: $radius-2;
$form-border: 1px solid $color-gray-50;
$form-font-size: $px-16;
$form-line-height: normal;
$form-height: $px-40;

@mixin form-button {
   align-content: center;
   justify-content: center;
   padding: $px-8 $px-16;
   text-align: center;
   text-decoration: none;
   white-space: nowrap;
   width: auto;

   @content;
}

@mixin form-input {
   align-content: flex-start;
   align-items: center;
   background: $color-true-white;
   border: $form-border;
   border-radius: $form-border-radius;
   color: $form-text-color;
   display: inline-flex;
   flex: 1 1 auto;
   font-size: $form-font-size;
   justify-content: flex-start;
   line-height: $form-line-height;
   margin: 0;
   min-height: $form-height;
   padding: $px-8;
   position: relative;
   width: 100%;

   @content;
}

@mixin form-select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
   background-position: calc(100% - 10px) center;
   background-repeat: no-repeat, repeat;
   background-size: $px-16 auto;
   cursor: pointer;
   max-width: 100%;
   padding-right: $px-24;

   @content;

   > option {
      padding: 0;
   }
}

@import 'form/form-item';
@import 'form/input';
@import 'form/select';
@import 'form/button';
