@mixin icon {
   fill: none;
   line-height: normal;
   position: relative;
   stroke: currentColor;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 2;

   @content;
}

.icon {
   &--left {
      @include icon {
         margin-right: $px-8;
      }
   }

   &--right {
      @include icon {
         margin-left: $px-8;
      }
   }
}
