// General Settings ...........................................................

@mixin button() {
    align-content: center;
    align-items: center;
    background: transparent;
    border-radius: $global-border-radius;
    border: 2px solid;
    cursor: pointer;
    display:inline-flex;
    font-size: $size-16;
    font-weight: $weight-regular;
    justify-content: center;
    line-height: 1;
    margin: ($grid-gutter / 4) 0;
    padding: $spacing-12 $spacing-16;
    text-align: center;
    text-decoration: none;
    transition: transition(border, background, color);
    width: 100%;
}

// Variations .................................................................

@mixin bbc($bgColor, $textColor) {
    background: $bgColor;
    border-color: $bgColor;
    color: $textColor;
}

// Types ......................................................................

.button {

    @include _m_(&) {
        @include mq('small', true) {
            font-size: $size-14;
            padding: $spacing-8 $spacing-16;
        }

        @include mq('large', true) {
            font-size: $size-24;
            letter-spacing: $tracking-tight;
            padding: $spacing-16;
        }

        @include mq('inline', true) {
            width: auto;
        }

        @include mq('full', true) {
            width: 100%;
        }
    }

    @include __{
        &primary {
            @include button;
            @include bbc($color-blue-70, $color-gray-10);

            &:hover {
                @include bbc($color-blue-90, $color-true-white);
            }
            &:disabled {
                @include bbc($color-blue-20, $color-gray-60);
            }
        }

        &secondary {
            @include button;
            @include bbc($color-purple-70, $color-gray-10);

            &:hover {
                @include bbc($color-purple-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-purple-20, $color-gray-60);
            }
        }

        &outline {
            @include button;
            background-color: transparent;
            border: 2px solid $color-blue-70;
            color: $color-blue-70;

            &:hover {
                @include bbc($color-blue-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-blue-20, $color-gray-60);
            }
        }

        &outline-secondary {
            @include button;
            background-color: transparent;
            border: 2px solid $color-purple-70;
            color: $color-purple-70;

            &:hover {
                @include bbc($color-purple-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-purple-20, $color-gray-60);
            }
        }

        &link {
            @include button;
            border: 0;
            margin: 0;
            padding: 0 $spacing-8;
            width: auto;
        }

        &link-alt {
            @include button;
            border: 0;
            margin: 0;
            padding: 0 $spacing-8;
            width: auto;
            color: $color-blue-50;
            text-decoration: underline;
        }

        &go {
            @include button;
            @include bbc($color-green-70, $color-gray-10);

            &:hover {
                @include bbc($color-green-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-green-20, $color-gray-60);
            }
        }

        &warning {
            @include button;
            @include bbc($color-orange-70, $color-gray-10);

            &:hover {
                @include bbc($color-orange-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-orange-20, $color-gray-60);
            }
        }

        &stop {
            @include button;
            @include bbc($color-red-70, $color-gray-10);

            &:hover {
                @include bbc($color-red-90, $color-true-white);
            }

            &:disabled {
                @include bbc($color-red-20, $color-gray-60);
            }
        }
    }
}
