/**
    pill:success
    pill:danger
    pill:info
    pill:primary

    pill:<type>--xsmall
    pill:<type>--small
    pill:<type>--medium
    pill:<type>--large

    pill:<type>--block
 */

.pill {
    font-weight: $weight-extra-bold;
    text-transform: uppercase;
    font-size: $size-12;
}
