/* stylelint-disable  */
@mixin debug($use: false) {
   @if ($use) {
      * {
         background-color: rgba(255, 0, 0, 0.2);
         border: 1px solid #f00;
      }

      * * {
         background-color: rgba(0, 255, 0, 0.2);
         border: 1px solid #f00;
      }

      * * * {
         background-color: rgba(0, 0, 255, 0.2);
         border: 1px solid #f00;
      }

      * * * * {
         background-color: rgba(255, 0, 255, 0.2);
         border: 1px solid #f00;
      }

      * * * * * {
         background-color: rgba(0, 255, 255, 0.2);
         border: 1px solid #f00;
      }

      * * * * * * {
         background-color: rgba(255, 255, 0, 0.2);
         border: 1px solid #f00;
      }

      * * * * * * * {
         background-color: rgba(255, 0, 0, 0.2);
         border: 1px solid #f00;
      }

      * * * * * * * * {
         background-color: rgba(0, 255, 0, 0.2);
         border: 1px solid #f00;
      }

      * * * * * * * * * {
         background-color: rgba(0, 0, 255, 0.2);
         border: 1px solid #f00;
      }
   }
}
/* stylelint-enabled  */

@mixin debug-this() {
   background-color: rgba(255, 0, 0, 0.2);
   border: 1px solid #f00;
}
