html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}

main{
  display:block;
}

h1{
  font-size:2em;
  margin:.67em 0;
}

hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}

pre{
  font-family:monospace,monospace;
  font-size:1em;
}

abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}

b,strong{
  font-weight:bolder;
}

code,kbd,samp{
  font-family:monospace,monospace;
  font-size:1em;
}

small{
  font-size:80%;
}

sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-.25em;
}

sup{
  top:-.5em;
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}

button,input{
  overflow:visible;
}

button,select{
  text-transform:none;
}

[type=button],[type=reset],[type=submit],button{
  -webkit-appearance:button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
  border-style:none;
  padding:0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
  outline:1px dotted ButtonText;
}

fieldset{
  padding:.35em .75em .625em;
}

legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  white-space:normal;
}

progress{
  vertical-align:baseline;
}

[type=checkbox],[type=radio]{
  box-sizing:border-box;
  padding:0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
  height:auto;
}

[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}

[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}

details{
  display:block;
}

summary{
  display:list-item;
}

[hidden],template{
  display:none;
}

*{
  background-color:rgba(255, 0, 0, .2);
}

*,* *{
  border:1px solid red;
}

* *{
  background-color:rgba(0, 255, 0, .2);
}

* * *{
  background-color:rgba(0, 0, 255, .2);
}

* * *,* * * *{
  border:1px solid red;
}

* * * *{
  background-color:rgba(255, 0, 255, .2);
}

* * * * *{
  background-color:rgba(0, 255, 255, .2);
  border:1px solid red;
}

* * * * * *{
  background-color:rgba(255, 255, 0, .2);
  border:1px solid red;
}

* * * * * * *{
  background-color:rgba(255, 0, 0, .2);
  border:1px solid red;
}

* * * * * * * *{
  background-color:rgba(0, 255, 0, .2);
  border:1px solid red;
}

* * * * * * * * *{
  background-color:rgba(0, 0, 255, .2);
  border:1px solid red;
}

@-ms-viewport{
  width:device-width;
}

*{
  -webkit-overflow-scrolling:touch;
}

*,:after,:before{
  box-sizing:inherit;
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{
  display:block;
}

audio,canvas,iframe,img,svg,video{
  vertical-align:middle;
}

:focus{
  outline:none;
}

::-moz-selection{
  background-color:#b3d4fc;
  color:#000;
  text-shadow:none;
}

::selection{
  background-color:#b3d4fc;
  color:#000;
  text-shadow:none;
}

html{
  -ms-overflow-style:scrollbar;
  -ms-text-size-adjust:100%;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  background-color:#fff;
  height:100vh;
}

body{
  -moz-osx-font-smoothing:grayscale !important;
  -webkit-font-smoothing:antialiased !important;
  color:#000;
  font-family:sans-serif;
  height:100vh;
  line-height:1.5;
  min-width:350px;
  text-align:left;
}

body,img{
  margin:0;
  padding:0;
}

img{
  border-style:none;
  font-style:italic;
  max-width:100%;
  vertical-align:middle;
}

img[height],img[width]{
  max-width:none;
}

svg{
  fill:currentColor;
}

svg:not(:root){
  overflow:hidden;
}

blockquote,dd,dl,dt li,h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}

ol,p,ul{
  font-size:inherit;
}

ol ol,ol ul,ul ol,ul ul{
  margin-bottom:0;
}

nav ol,nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

dfn{
  font-style:italic;
}

address{
  font-style:normal;
  line-height:inherit;
}

address,caption{
  margin:0;
  padding:0;
}

caption{
  caption-side:bottom;
  text-align:left;
}

th{
  text-align:inherit;
}

a{
  -webkit-text-decoration-skip:objects;
  background-color:transparent;
  color:inherit;
  cursor:pointer;
  font-family:inherit;
  font-weight:inherit;
}

a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{
  color:inherit;
  text-decoration:none;
}

a:not([href]):not([tabindex]):focus{
  outline:0;
}

label{
  display:inline-block;
}

button{
  border-radius:0;
  padding:0;
}

button:focus{
  outline:1px dotted;
  outline:5px auto -webkit-focus-ring-color;
}

html [type=button]{
  -webkit-appearance:button;
}

input[type=email],input[type=number],input[type=password],input[type=text]{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

input[type=date],input[type=datetime-local],input[type=month],input[type=time]{
  -webkit-appearance:listbox;
}

textarea{
  overflow:auto;
  resize:vertical;
}

button,label{
  cursor:pointer;
}

fieldset{
  border:0;
  min-width:0;
}

fieldset,legend{
  margin:0;
  padding:0;
}

legend{
  display:block;
  line-height:inherit;
  max-width:100%;
  width:100%;
}

[type=search]::-webkit-search-cancel-button{
  -webkit-appearance:none;
}

[tabindex],a,area,button,input,label,select,summary,textarea{
  touch-action:manipulation;
}

[aria-busy=true]{
  cursor:progress;
}

[aria-controls]{
  cursor:pointer;
}

[aria-disabled]{
  cursor:default;
}

.debug{
  border:1px solid red !important;
}

[class*="::debug"].\--bg,[class^=debug].\--bg{
  background:rgba(255, 0, 0, .4) !important;
}

pre{
  -ms-overflow-style:scrollbar;
  margin-bottom:1rem;
  margin-top:0;
  overflow:auto;
}

figure{
  margin:0 0 1rem;
}

output{
  display:inline-block;
}

summary{
  cursor:pointer;
}

.color\|primary{
  color:#2b6cb0;
}

.color\|secondary{
  color:#6b46c1;
}

.color\|go{
  color:#38a169;
}

.color\|stop{
  color:#c53030;
}

.color\|dark{
  color:#4a5568;
}

.color\|light{
  color:#bee3f8;
}

.color\|muted{
  color:#cbd5e0;
}

.background\|primary{
  background-color:#2b6cb0;
}

.background\|secondary{
  background:#6b46c1;
}

.background\|go{
  background-color:#38a169;
}

.background\|stop{
  background-color:#c53030;
}

.background\|dark{
  background-color:#4a5568;
}

.background\|light{
  background-color:#bee3f8;
}

.background\|muted{
  background-color:#cbd5e0;
}

.display\|block{
  display:block;
}

.display\|flex{
  display:flex;
}

.display\|hide{
  display:none;
}

.display\|show{
  display:block;
}

.form\:legend,[class*="::form:legend"].\--small,[class^="form:legend"].\--small{
  font-size:1.5rem;
  color:#4a5568;
  font-weight:700;
  padding-bottom:1.25rem;
  line-height:1.375;
  align-content:flex-start;
  align-items:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.form\:fieldset,[class*="::form:fieldset"].\--inset,[class^="form:fieldset"].\--inset{
  background:#f7fafc;
  border-radius:3px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.5rem;
  padding:1.25rem;
  width:100%;
}

.form\:field{
  margin-bottom:1rem;
}

.form\:field,[class*="::form:field"].\--small-gap,[class^="form:field"].\--small-gap{
  align-content:flex-end;
  display:flex;
  position:relative;
  flex-direction:column;
  justify-content:flex-end;
  width:100%;
}

[class*="::form:field"].\--small-gap,[class^="form:field"].\--small-gap{
  margin-bottom:.5rem;
}

[class*="::form:field"].\--checkable,[class^="form:field"].\--checkable{
  align-content:flex-start;
  align-items:center;
  flex-direction:row;
  justify-content:flex-start;
}

[class*="::form:field"].\--checkable input,[class^="form:field"].\--checkable input{
  margin:0 .5rem 0 0;
}

[class*="::form:fieldset"].\--inset,[class^="form:fieldset"].\--inset{
  background:transparent;
  border-radius:0;
  padding:0;
}

[class*="::form:legend"].\--small,[class^="form:legend"].\--small{
  font-size:1.25rem;
  line-height:1.25;
}

.container,[class*="::container"].\--locked,[class^=container].\--locked{
  margin-left:auto;
  margin-right:auto;
  padding-left:-.625rem;
  width:100%;
}

[class*="::container"].\--locked,[class^=container].\--locked{
  max-width:1440px;
}

.row{
  align-content:flex-start;
  align-items:flex-end;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.row .row{
  margin-left:-.625rem;
  margin-right:-.625rem;
}

[class*="::row"].\--center,[class^=row].\--center{
  justify-content:center;
}

[class*="::row"].\--column,[class^=row].\--column{
  flex-direction:column;
}

.pull\|right{
  margin-left:auto;
  margin-right:0;
}

.pull\|left{
  margin-left:0;
  margin-right:auto;
}

.order\|last{
  order:13;
}

.order\|first{
  order:-1;
}

.col{
  flex:0 0 auto;
  max-width:calc(auto - 1.25rem);
}

.col,.col-1{
  margin:.25rem .625rem;
  min-height:1px;
  position:relative;
}

.col-1{
  flex:0 0 8.3333333333%;
  max-width:calc(8.3333333333% - 1.25rem);
}

.offset-1{
  margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-2{
  margin:.25rem .625rem;
}

.col-2,.col-2-centered{
  flex:0 0 16.6666666667%;
  max-width:calc(16.6666666667% - 1.25rem);
  min-height:1px;
  position:relative;
}

.col-2-centered{
  margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
}

.offset-2{
  margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-3{
  flex:0 0 25%;
  margin:.25rem .625rem;
  max-width:calc(25% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-3{
  margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-4{
  margin:.25rem .625rem;
}

.col-4,.col-4-centered{
  flex:0 0 33.3333333333%;
  max-width:calc(33.3333333333% - 1.25rem);
  min-height:1px;
  position:relative;
}

.col-4-centered{
  margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
}

.offset-4{
  margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-5{
  flex:0 0 41.6666666667%;
  margin:.25rem .625rem;
  max-width:calc(41.6666666667% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-5{
  margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-6{
  margin:.25rem .625rem;
}

.col-6,.col-6-centered{
  flex:0 0 50%;
  max-width:calc(50% - 1.25rem);
  min-height:1px;
  position:relative;
}

.col-6-centered{
  margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
}

.offset-6{
  margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-7{
  flex:0 0 58.3333333333%;
  margin:.25rem .625rem;
  max-width:calc(58.3333333333% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-7{
  margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-8{
  margin:.25rem .625rem;
}

.col-8,.col-8-centered{
  flex:0 0 66.6666666667%;
  max-width:calc(66.6666666667% - 1.25rem);
  min-height:1px;
  position:relative;
}

.col-8-centered{
  margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
}

.offset-8{
  margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-9{
  flex:0 0 75%;
  margin:.25rem .625rem;
  max-width:calc(75% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-9{
  margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-10{
  margin:.25rem .625rem;
}

.col-10,.col-10-centered{
  flex:0 0 83.3333333333%;
  max-width:calc(83.3333333333% - 1.25rem);
  min-height:1px;
  position:relative;
}

.col-10-centered{
  margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
}

.offset-10{
  margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-11{
  flex:0 0 91.6666666667%;
  margin:.25rem .625rem;
  max-width:calc(91.6666666667% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-11{
  margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.col-12,.col-12-centered{
  flex:0 0 100%;
  margin:.25rem .625rem;
  max-width:calc(100% - 1.25rem);
  min-height:1px;
  position:relative;
}

.offset-12{
  margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
}

.input\:error{
  border:2px solid #c53030 !important;
  box-shadow:none;
}

.input\:error--checkbox{
  margin-top:-6px;
}

.input\:error--checkbox,.input\:error-message{
  color:#c53030;
  display:inline-block;
  padding-bottom:.25rem;
  position:absolute;
  bottom:-25px;
}

.input\:label{
  color:#718096;
  display:inline-block;
  font-size:1rem;
  font-weight:500;
  padding-bottom:.25rem;
  text-transform:capitalize;
}

.input\:help-text{
  display:flex;
  margin-top:-.75rem;
  margin-bottom:1.25rem;
  font-style:italic;
}

.input\:select{
  align-items:center;
  background:#fff;
  border-radius:3px;
  border:2px solid #fff !important;
  box-shadow:0 1px 2px rgba(0, 0, 0, .6);
  color:#2d3748;
  display:flex;
  flex:1 1 auto;
  font-size:1rem;
  padding:.75rem .5rem;
  min-height:2rem;
  line-height:1;
  transition:border .25s;
  width:100%;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background-color:#fff;
  background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position:right .7em top 50%, 0 0;
  background-repeat:no-repeat, repeat;
  background-size:.875rem auto;
  cursor:pointer;
}

.input\:select:hover{
  border:2px solid #3182ce !important;
  box-shadow:none;
}

.input\:text{
  align-items:center;
  color:#2d3748;
  display:flex;
  flex:1 1 auto;
  font-size:1rem;
  padding:.75rem .5rem;
  min-height:2rem;
  line-height:1;
  width:100%;
}

.input\:text,.textarea{
  background:#fff;
  border-radius:3px;
  border:2px solid #fff !important;
  box-shadow:0 1px 2px rgba(0, 0, 0, .6);
  transition:border .25s;
}

.textarea{
  margin-bottom:1.5rem;
}

.textarea:focus-within{
  border:2px solid #3182ce !important;
  box-shadow:none;
}

.table\:button{
  justify-content:center;
  margin:0;
  padding:.5rem 0;
}

.table\:button,table{
  display:flex;
  width:100%;
}

table{
  background:#fff;
  border-collapse:collapse;
  border-radius:3px;
  border-spacing:0;
  box-shadow:0 1px 2px rgba(0, 0, 0, .6);
  margin:1.5rem 0 3rem;
  overflow-x:auto;
  overflow:hidden;
  table-layout:fixed;
  vertical-align:top;
}

table thead{
  display:flex;
  flex-shrink:0;
  min-width:-webkit-min-content;
  min-width:-moz-min-content;
  min-width:min-content;
}

table thead,table thead tr,table thead tr th{
  background:#edf2f7;
}

table thead tr th{
  color:#4a5568;
  text-align:right;
}

table tbody{
  -webkit-overflow-scrolling:touch;
  display:flex;
  overflow-x:auto;
  overflow-y:hidden;
  position:relative;
}

table tbody tr{
  background:#fff;
  border-right:1px solid #edf2f7;
  transition:background-color .15s linear;
}

table tr{
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  min-width:-webkit-min-content;
  min-width:-moz-min-content;
  min-width:min-content;
}

table th{
  padding:.25rem .5rem;
  vertical-align:middle;
}

table td,table th{
  overflow:hidden;
  padding:.25rem;
  text-align:left;
  text-overflow:ellipsis;
  vertical-align:middle;
}

h1,h2,h3,h4,h5,h6{
  color:#553c9a;
  font-family:Times New Roman,sans-serif;
  font-weight:900;
  line-height:1;
}

p{
  margin-bottom:.75rem;
}

p p{
  margin-bottom:0;
}

.list{
  list-style-position:inside;
  padding:0;
}

.list li{
  padding-bottom:.5rem;
}

.list li::marker{
  font-size:.625rem;
  vertical-align:middle;
}

.text-align\|left{
  text-align:left;
}

.text-align\|right{
  text-align:right;
}

.text-align\|center{
  text-align:center;
}

.justify\|start{
  justify-content:flex-start;
}

.justify\|evenly{
  justify-content:space-evenly;
}

.justify\|around{
  justify-content:space-around;
}

.justify\|between{
  justify-content:space-between;
}

.justify\|center{
  justify-content:center;
}

.justify\|end{
  justify-content:flex-end;
}

.align-content\|start{
  align-content:flex-start;
}

.align-content\|evenly{
  align-content:space-evenly;
}

.align-content\|around{
  align-content:space-around;
}

.align-content\|between{
  align-content:space-between;
}

.align-content\|center{
  align-content:center;
}

.align-content\|end{
  align-content:flex-end;
}

.align-items\|start{
  align-items:flex-start;
}

.align-items\|evenly{
  align-items:space-evenly;
}

.align-items\|around{
  align-items:space-around;
}

.align-items\|between{
  align-items:space-between;
}

.align-items\|center{
  align-items:center;
}

.align-items\|end{
  align-items:flex-end;
}

@media (min-width:0px){
  .xs\:\:display\|block{
    display:block;
  }
  .xs\:\:display\|flex{
    display:flex;
  }
  .xs\:\:display\|hide{
    display:none;
  }
  .xs\:\:display\|show{
    display:block;
  }
  .xs\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .xs\:\:col,.xs\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .xs\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-2{
    margin:.25rem .625rem;
  }
  .xs\:\:col-2,.xs\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .xs\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-4{
    margin:.25rem .625rem;
  }
  .xs\:\:col-4,.xs\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .xs\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-6{
    margin:.25rem .625rem;
  }
  .xs\:\:col-6,.xs\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .xs\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-8{
    margin:.25rem .625rem;
  }
  .xs\:\:col-8,.xs\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .xs\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-10{
    margin:.25rem .625rem;
  }
  .xs\:\:col-10,.xs\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .xs\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:col-12,.xs\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xs\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xs\:\:text-align\|left{
    text-align:left;
  }
  .xs\:\:text-align\|right{
    text-align:right;
  }
  .xs\:\:text-align\|center{
    text-align:center;
  }
  .xs\:\:justify\|start{
    justify-content:flex-start;
  }
  .xs\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .xs\:\:justify\|around{
    justify-content:space-around;
  }
  .xs\:\:justify\|between{
    justify-content:space-between;
  }
  .xs\:\:justify\|center{
    justify-content:center;
  }
  .xs\:\:justify\|end{
    justify-content:flex-end;
  }
  .xs\:\:align-content\|start{
    align-content:flex-start;
  }
  .xs\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .xs\:\:align-content\|around{
    align-content:space-around;
  }
  .xs\:\:align-content\|between{
    align-content:space-between;
  }
  .xs\:\:align-content\|center{
    align-content:center;
  }
  .xs\:\:align-content\|end{
    align-content:flex-end;
  }
  .xs\:\:align-items\|start{
    align-items:flex-start;
  }
  .xs\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .xs\:\:align-items\|around{
    align-items:space-around;
  }
  .xs\:\:align-items\|between{
    align-items:space-between;
  }
  .xs\:\:align-items\|center{
    align-items:center;
  }
  .xs\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:576px){
  .sm\:\:display\|block{
    display:block;
  }
  .sm\:\:display\|flex{
    display:flex;
  }
  .sm\:\:display\|hide{
    display:none;
  }
  .sm\:\:display\|show{
    display:block;
  }
  [class*="::form:field"].\--inline,[class^="form:field"].\--inline{
    align-content:center;
    align-items:center;
    display:grid;
    grid-column-gap:10px;
    grid-template-columns:1.5fr 1fr;
    justify-content:flex-start;
  }
  .sm\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .sm\:\:col,.sm\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .sm\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-2{
    margin:.25rem .625rem;
  }
  .sm\:\:col-2,.sm\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .sm\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-4{
    margin:.25rem .625rem;
  }
  .sm\:\:col-4,.sm\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .sm\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-6{
    margin:.25rem .625rem;
  }
  .sm\:\:col-6,.sm\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .sm\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-8{
    margin:.25rem .625rem;
  }
  .sm\:\:col-8,.sm\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .sm\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-10{
    margin:.25rem .625rem;
  }
  .sm\:\:col-10,.sm\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .sm\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .sm\:\:col-12,.sm\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .sm\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .table\:button{
    display:inline-flex;
    padding:.5rem 1rem;
    width:auto;
  }
  table{
    display:table;
  }
  table thead{
    display:table-row-group;
  }
  table thead tr th{
    border-bottom:2px solid #cbd5e0;
    text-align:left;
  }
  table tbody{
    display:table-row-group;
  }
  table tbody tr{
    border-bottom:1px solid #a0aec0;
    border-right:0;
    background:transparent;
  }
  table tbody tr:nth-of-type(2n){
    border-bottom:2px solid #a0aec0;
    background-color:#f7fafc;
  }
  table tr{
    display:table-row;
  }
  table td,table th{
    padding:.25rem .5rem;
  }
  .sm\:\:text-align\|left{
    text-align:left;
  }
  .sm\:\:text-align\|right{
    text-align:right;
  }
  .sm\:\:text-align\|center{
    text-align:center;
  }
  .sm\:\:justify\|start{
    justify-content:flex-start;
  }
  .sm\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .sm\:\:justify\|around{
    justify-content:space-around;
  }
  .sm\:\:justify\|between{
    justify-content:space-between;
  }
  .sm\:\:justify\|center{
    justify-content:center;
  }
  .sm\:\:justify\|end{
    justify-content:flex-end;
  }
  .sm\:\:align-content\|start{
    align-content:flex-start;
  }
  .sm\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .sm\:\:align-content\|around{
    align-content:space-around;
  }
  .sm\:\:align-content\|between{
    align-content:space-between;
  }
  .sm\:\:align-content\|center{
    align-content:center;
  }
  .sm\:\:align-content\|end{
    align-content:flex-end;
  }
  .sm\:\:align-items\|start{
    align-items:flex-start;
  }
  .sm\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .sm\:\:align-items\|around{
    align-items:space-around;
  }
  .sm\:\:align-items\|between{
    align-items:space-between;
  }
  .sm\:\:align-items\|center{
    align-items:center;
  }
  .sm\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:768px){
  .md\:\:display\|block{
    display:block;
  }
  .md\:\:display\|flex{
    display:flex;
  }
  .md\:\:display\|hide{
    display:none;
  }
  .md\:\:display\|show{
    display:block;
  }
  .md\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .md\:\:col,.md\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .md\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .md\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-2{
    margin:.25rem .625rem;
  }
  .md\:\:col-2,.md\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .md\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-4{
    margin:.25rem .625rem;
  }
  .md\:\:col-4,.md\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .md\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-6{
    margin:.25rem .625rem;
  }
  .md\:\:col-6,.md\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .md\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-8{
    margin:.25rem .625rem;
  }
  .md\:\:col-8,.md\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .md\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-10{
    margin:.25rem .625rem;
  }
  .md\:\:col-10,.md\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .md\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .md\:\:col-12,.md\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .md\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  table td,table th{
    padding:.5rem 1rem;
  }
  .md\:\:text-align\|left{
    text-align:left;
  }
  .md\:\:text-align\|right{
    text-align:right;
  }
  .md\:\:text-align\|center{
    text-align:center;
  }
  .md\:\:justify\|start{
    justify-content:flex-start;
  }
  .md\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .md\:\:justify\|around{
    justify-content:space-around;
  }
  .md\:\:justify\|between{
    justify-content:space-between;
  }
  .md\:\:justify\|center{
    justify-content:center;
  }
  .md\:\:justify\|end{
    justify-content:flex-end;
  }
  .md\:\:align-content\|start{
    align-content:flex-start;
  }
  .md\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .md\:\:align-content\|around{
    align-content:space-around;
  }
  .md\:\:align-content\|between{
    align-content:space-between;
  }
  .md\:\:align-content\|center{
    align-content:center;
  }
  .md\:\:align-content\|end{
    align-content:flex-end;
  }
  .md\:\:align-items\|start{
    align-items:flex-start;
  }
  .md\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .md\:\:align-items\|around{
    align-items:space-around;
  }
  .md\:\:align-items\|between{
    align-items:space-between;
  }
  .md\:\:align-items\|center{
    align-items:center;
  }
  .md\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:992px){
  .wd\:\:display\|block{
    display:block;
  }
  .wd\:\:display\|flex{
    display:flex;
  }
  .wd\:\:display\|hide{
    display:none;
  }
  .wd\:\:display\|show{
    display:block;
  }
  .wd\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .wd\:\:col,.wd\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .wd\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-2{
    margin:.25rem .625rem;
  }
  .wd\:\:col-2,.wd\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .wd\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-4{
    margin:.25rem .625rem;
  }
  .wd\:\:col-4,.wd\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .wd\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-6{
    margin:.25rem .625rem;
  }
  .wd\:\:col-6,.wd\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .wd\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-8{
    margin:.25rem .625rem;
  }
  .wd\:\:col-8,.wd\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .wd\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-10{
    margin:.25rem .625rem;
  }
  .wd\:\:col-10,.wd\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .wd\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:col-12,.wd\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .wd\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .wd\:\:text-align\|left{
    text-align:left;
  }
  .wd\:\:text-align\|right{
    text-align:right;
  }
  .wd\:\:text-align\|center{
    text-align:center;
  }
  .wd\:\:justify\|start{
    justify-content:flex-start;
  }
  .wd\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .wd\:\:justify\|around{
    justify-content:space-around;
  }
  .wd\:\:justify\|between{
    justify-content:space-between;
  }
  .wd\:\:justify\|center{
    justify-content:center;
  }
  .wd\:\:justify\|end{
    justify-content:flex-end;
  }
  .wd\:\:align-content\|start{
    align-content:flex-start;
  }
  .wd\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .wd\:\:align-content\|around{
    align-content:space-around;
  }
  .wd\:\:align-content\|between{
    align-content:space-between;
  }
  .wd\:\:align-content\|center{
    align-content:center;
  }
  .wd\:\:align-content\|end{
    align-content:flex-end;
  }
  .wd\:\:align-items\|start{
    align-items:flex-start;
  }
  .wd\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .wd\:\:align-items\|around{
    align-items:space-around;
  }
  .wd\:\:align-items\|between{
    align-items:space-between;
  }
  .wd\:\:align-items\|center{
    align-items:center;
  }
  .wd\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:1024px){
  .xw\:\:display\|block{
    display:block;
  }
  .xw\:\:display\|flex{
    display:flex;
  }
  .xw\:\:display\|hide{
    display:none;
  }
  .xw\:\:display\|show{
    display:block;
  }
  .xw\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .xw\:\:col,.xw\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .xw\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-2{
    margin:.25rem .625rem;
  }
  .xw\:\:col-2,.xw\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .xw\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-4{
    margin:.25rem .625rem;
  }
  .xw\:\:col-4,.xw\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .xw\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-6{
    margin:.25rem .625rem;
  }
  .xw\:\:col-6,.xw\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .xw\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-8{
    margin:.25rem .625rem;
  }
  .xw\:\:col-8,.xw\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .xw\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-10{
    margin:.25rem .625rem;
  }
  .xw\:\:col-10,.xw\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .xw\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:col-12,.xw\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xw\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xw\:\:text-align\|left{
    text-align:left;
  }
  .xw\:\:text-align\|right{
    text-align:right;
  }
  .xw\:\:text-align\|center{
    text-align:center;
  }
  .xw\:\:justify\|start{
    justify-content:flex-start;
  }
  .xw\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .xw\:\:justify\|around{
    justify-content:space-around;
  }
  .xw\:\:justify\|between{
    justify-content:space-between;
  }
  .xw\:\:justify\|center{
    justify-content:center;
  }
  .xw\:\:justify\|end{
    justify-content:flex-end;
  }
  .xw\:\:align-content\|start{
    align-content:flex-start;
  }
  .xw\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .xw\:\:align-content\|around{
    align-content:space-around;
  }
  .xw\:\:align-content\|between{
    align-content:space-between;
  }
  .xw\:\:align-content\|center{
    align-content:center;
  }
  .xw\:\:align-content\|end{
    align-content:flex-end;
  }
  .xw\:\:align-items\|start{
    align-items:flex-start;
  }
  .xw\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .xw\:\:align-items\|around{
    align-items:space-around;
  }
  .xw\:\:align-items\|between{
    align-items:space-between;
  }
  .xw\:\:align-items\|center{
    align-items:center;
  }
  .xw\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:1280px){
  .lg\:\:display\|block{
    display:block;
  }
  .lg\:\:display\|flex{
    display:flex;
  }
  .lg\:\:display\|hide{
    display:none;
  }
  .lg\:\:display\|show{
    display:block;
  }
  .lg\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .lg\:\:col,.lg\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .lg\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-2{
    margin:.25rem .625rem;
  }
  .lg\:\:col-2,.lg\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .lg\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-4{
    margin:.25rem .625rem;
  }
  .lg\:\:col-4,.lg\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .lg\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-6{
    margin:.25rem .625rem;
  }
  .lg\:\:col-6,.lg\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .lg\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-8{
    margin:.25rem .625rem;
  }
  .lg\:\:col-8,.lg\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .lg\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-10{
    margin:.25rem .625rem;
  }
  .lg\:\:col-10,.lg\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .lg\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:col-12,.lg\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .lg\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .lg\:\:text-align\|left{
    text-align:left;
  }
  .lg\:\:text-align\|right{
    text-align:right;
  }
  .lg\:\:text-align\|center{
    text-align:center;
  }
  .lg\:\:justify\|start{
    justify-content:flex-start;
  }
  .lg\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .lg\:\:justify\|around{
    justify-content:space-around;
  }
  .lg\:\:justify\|between{
    justify-content:space-between;
  }
  .lg\:\:justify\|center{
    justify-content:center;
  }
  .lg\:\:justify\|end{
    justify-content:flex-end;
  }
  .lg\:\:align-content\|start{
    align-content:flex-start;
  }
  .lg\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .lg\:\:align-content\|around{
    align-content:space-around;
  }
  .lg\:\:align-content\|between{
    align-content:space-between;
  }
  .lg\:\:align-content\|center{
    align-content:center;
  }
  .lg\:\:align-content\|end{
    align-content:flex-end;
  }
  .lg\:\:align-items\|start{
    align-items:flex-start;
  }
  .lg\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .lg\:\:align-items\|around{
    align-items:space-around;
  }
  .lg\:\:align-items\|between{
    align-items:space-between;
  }
  .lg\:\:align-items\|center{
    align-items:center;
  }
  .lg\:\:align-items\|end{
    align-items:flex-end;
  }
}

@media (min-width:1366px){
  .xl\:\:display\|block{
    display:block;
  }
  .xl\:\:display\|flex{
    display:flex;
  }
  .xl\:\:display\|hide{
    display:none;
  }
  .xl\:\:display\|show{
    display:block;
  }
  .xl\:\:col{
    flex:0 0 auto;
    max-width:calc(auto - 1.25rem);
  }
  .xl\:\:col,.xl\:\:col-1{
    margin:.25rem .625rem;
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-1{
    flex:0 0 8.3333333333%;
    max-width:calc(8.3333333333% - 1.25rem);
  }
  .xl\:\:offset-1{
    margin-left:calc((1 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-2{
    margin:.25rem .625rem;
  }
  .xl\:\:col-2,.xl\:\:col-2-centered{
    flex:0 0 16.6666666667%;
    max-width:calc(16.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-2-centered{
    margin:.25rem .625rem .25rem calc((5 * 8.3333333333%) + (1.25rem / 2));
  }
  .xl\:\:offset-2{
    margin-left:calc((2 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-3{
    flex:0 0 25%;
    margin:.25rem .625rem;
    max-width:calc(25% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-3{
    margin-left:calc((3 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-4{
    margin:.25rem .625rem;
  }
  .xl\:\:col-4,.xl\:\:col-4-centered{
    flex:0 0 33.3333333333%;
    max-width:calc(33.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-4-centered{
    margin:.25rem .625rem .25rem calc((4 * 8.3333333333%) + (1.25rem / 2));
  }
  .xl\:\:offset-4{
    margin-left:calc((4 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-5{
    flex:0 0 41.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(41.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-5{
    margin-left:calc((5 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-6{
    margin:.25rem .625rem;
  }
  .xl\:\:col-6,.xl\:\:col-6-centered{
    flex:0 0 50%;
    max-width:calc(50% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-6-centered{
    margin:.25rem .625rem .25rem calc((3 * 8.3333333333%) + (1.25rem / 2));
  }
  .xl\:\:offset-6{
    margin-left:calc((6 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-7{
    flex:0 0 58.3333333333%;
    margin:.25rem .625rem;
    max-width:calc(58.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-7{
    margin-left:calc((7 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-8{
    margin:.25rem .625rem;
  }
  .xl\:\:col-8,.xl\:\:col-8-centered{
    flex:0 0 66.6666666667%;
    max-width:calc(66.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-8-centered{
    margin:.25rem .625rem .25rem calc((2 * 8.3333333333%) + (1.25rem / 2));
  }
  .xl\:\:offset-8{
    margin-left:calc((8 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-9{
    flex:0 0 75%;
    margin:.25rem .625rem;
    max-width:calc(75% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-9{
    margin-left:calc((9 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-10{
    margin:.25rem .625rem;
  }
  .xl\:\:col-10,.xl\:\:col-10-centered{
    flex:0 0 83.3333333333%;
    max-width:calc(83.3333333333% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:col-10-centered{
    margin:.25rem .625rem .25rem calc((1 * 8.3333333333%) + (1.25rem / 2));
  }
  .xl\:\:offset-10{
    margin-left:calc((10 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-11{
    flex:0 0 91.6666666667%;
    margin:.25rem .625rem;
    max-width:calc(91.6666666667% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-11{
    margin-left:calc((11 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:col-12,.xl\:\:col-12-centered{
    flex:0 0 100%;
    margin:.25rem .625rem;
    max-width:calc(100% - 1.25rem);
    min-height:1px;
    position:relative;
  }
  .xl\:\:offset-12{
    margin-left:calc((12 * 8.3333333333%) + (1.25rem / 2)) !important;
  }
  .xl\:\:text-align\|left{
    text-align:left;
  }
  .xl\:\:text-align\|right{
    text-align:right;
  }
  .xl\:\:text-align\|center{
    text-align:center;
  }
  .xl\:\:justify\|start{
    justify-content:flex-start;
  }
  .xl\:\:justify\|evenly{
    justify-content:space-evenly;
  }
  .xl\:\:justify\|around{
    justify-content:space-around;
  }
  .xl\:\:justify\|between{
    justify-content:space-between;
  }
  .xl\:\:justify\|center{
    justify-content:center;
  }
  .xl\:\:justify\|end{
    justify-content:flex-end;
  }
  .xl\:\:align-content\|start{
    align-content:flex-start;
  }
  .xl\:\:align-content\|evenly{
    align-content:space-evenly;
  }
  .xl\:\:align-content\|around{
    align-content:space-around;
  }
  .xl\:\:align-content\|between{
    align-content:space-between;
  }
  .xl\:\:align-content\|center{
    align-content:center;
  }
  .xl\:\:align-content\|end{
    align-content:flex-end;
  }
  .xl\:\:align-items\|start{
    align-items:flex-start;
  }
  .xl\:\:align-items\|evenly{
    align-items:space-evenly;
  }
  .xl\:\:align-items\|around{
    align-items:space-around;
  }
  .xl\:\:align-items\|between{
    align-items:space-between;
  }
  .xl\:\:align-items\|center{
    align-items:center;
  }
  .xl\:\:align-items\|end{
    align-items:flex-end;
  }
}
/*# sourceMappingURL=app.css.map*/