@mixin icon($name, $color: #ddd, $width: 48px, $height: 48px) {
    background: $color;
    display: inline-block;
    height: $height;
    mask-size: cover;
    mask: inline("#{$icon-path}#{$name}") no-repeat 50% 50%;
    width: $width;
}

@mixin font($family, $weight) {
    font: {
        display: swap;
        family: $family;
        style: normal;
        weight: $weight;
    }
}

@mixin mq($name, $as-modifier: false) {
    @if ($as-modifier) {
        @include m($name) {
            @content;

            @each $k, $v in $mq-list {
                @include for-mq($k, $name, true) {
                    @content;
                }
             }
        }

    } @else {
        .#{$name} {
            @content;
         }

         @each $k, $v in $mq-list {
            @include for-mq($k, $name) {
                @content;
            }
         }
    }
}

@mixin for-mq($query, $name, $as-modifier: false) {
    @if ($as-modifier) {
        @media(map-get($_mq, '#{$query}-and-up')) {
            &#{$query} {
                @include q {
                    &#{$name} { @content; }
                }
            }
        }
    } @else {
        @media(map-get($_mq, '#{$query}-and-up')) {
            .#{$query} {
                @include q {
                    &#{$name} { @content; }
                }
            }
        }
    }
}

@mixin mq-at($name, $parent: &) {
    $parent: #{$parent};
    $dotPosition: str-index($parent, '.');

    @if ($dotPosition == 1) {
        $parent: str-slice($parent, 2);
    }

    @at-root {
        @include for-mq($name, $parent) {
            @content;
        }
    }
}

@mixin e() {
    &\: {
        @content;
    }
}

@mixin p() {
    &\| {
        @content;
    }
}

@mixin q() {
    &\:\: {
        @content;
    }
}

@mixin m($name: &) {
    $x: str-replace(#{$name}, '.');
    @at-root {
        [class^="#{$x}"], [class*="\:\:#{$x}"] {
            &.\-- {
                @content;
            }
        }
    }
}

@mixin debug($use: false) {
    @if ($use) {
        * { background-color: rgba(255,0,0,.2); border: 1px solid red; }
        * * { background-color: rgba(0,255,0,.2); border: 1px solid red; }
        * * * { background-color: rgba(0,0,255,.2); border: 1px solid red; }
        * * * * { background-color: rgba(255,0,255,.2); border: 1px solid red; }
        * * * * * { background-color: rgba(0,255,255,.2); border: 1px solid red; }
        * * * * * * { background-color: rgba(255,255,0,.2); border: 1px solid red; }
        * * * * * * * { background-color: rgba(255,0,0,.2); border: 1px solid red; }
        * * * * * * * * { background-color: rgba(0,255,0,.2); border: 1px solid red; }
        * * * * * * * * * { background-color: rgba(0,0,255,.2); border: 1px solid red; }
    }
}
