.button {
   @include baseline-input;
   @include baseline-button;

   &.-button-block {
      width: 100%;
   }

   &.-primary {
      background: $color-gray-80;
      border-color: $color-gray-80;
      border-width: 2px;
      color: $color-gray-30;
   }

   &.-secondary {
      background: transparent;
      border-color: $color-gray-80;
      border-width: 2px;
      color: $color-gray-80;
   }
}
