input,
textarea {
   @include baseline-input;
}

.input-group {
   align-items: center;
   display: flex;
   justify-content: flex-start;

   &.-pre input {
      border-bottom-left-radius: 0;
      border-left: 0;
      border-top-left-radius: 0;
   }

   &.-post input {
      border-bottom-right-radius: 0;
      border-right: 0;
      border-top-right-radius: 0;
   }

   input {
      width: unset;
   }
}

.input-slot {
   background-color: $color-gray-40;
   border: $form-border;
   font-size: $form-font-size;
   line-height: $form-line-height;
   min-height: $form-height;
   padding: $spacing-8 $spacing-16;
}

.-pre-input {
   border-bottom-left-radius: $form-border-radius;
   border-top-left-radius: $form-border-radius;
}

.-post-input {
   border-bottom-right-radius: $form-border-radius;
   border-top-right-radius: $form-border-radius;
}
