.button {
   &--primary {
      @include form-input {
         @include form-button {
            background: $color-gray-80;
            border-color: $color-gray-80;
            border-width: 2px;
            color: $color-gray-30;

            &:disabled {
               background: $color-gray-60;
               border-color: $color-gray-60;
            }
         }
      }
   }

   &--secondary {
      @include form-input {
         @include form-button {
            background: transparent;
            border-color: $color-gray-80;
            border-width: 2px;
            color: $color-gray-80;

            &:disabled {
               border-color: $color-gray-60;
               color: $color-gray-60;
            }
         }
      }
   }

   &--is-block {
      width: 100%;
   }
}
